# Recomandation for library to install in python

numpy 
pandas 
scipy
sklearn
future
grpcio
h5py
keras_applicationg
keras_preprocessing
requests
opencv-python
os-sys
python-math
random2
pytest-warnings
os-sys
os.path2
jsonlib
pydicom
glob2
pytest-shutil
DateTime
zipfile36
urllib3
tensorflow
python-time
trimesh
librosa
gym
